```css
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111111;
    padding: 40px 20px;
    margin: 0;
}

.app {
    max-width: 650px;
    margin: auto;
    background-color: white;
    padding: 35px;
    border-radius: 25px;
    border: 5px solid #8b0000;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #111111;
}

h2 {
    color: #8b0000;
}

p {
    font-size: 20px;
    color: #333333;
}

.subtitle {
    margin-bottom: 35px;
    color: #555555;
    font-size: 20px;
}

.progress-box {
    padding: 25px;
    margin-bottom: 35px;
```
