body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f7f3;
    padding-top: 100px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
